* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Playwrite+CL:wght@100..400&display=swap");

/* header */

header {
  display: flex;
  /* padding-bottom: 10px; */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* z-index: 100; */
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 20px 120px; */
  background-color: #c7d4d4;
  margin-top: 0;
  padding-bottom: 8px;
  border-bottom: solid 2px rgb(160, 155, 155);
}

header nav a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  transition: background-color 0s;
  margin-top: 2px;
}

header a:hover,
header a.active {
  color: rgb(55, 51, 51);
  text-decoration: underline;
  text-underline-offset: 1rem;

  font-weight: bold;
  cursor: pointer;
}

.logo {
  font-size: 30px;
  font-family: cursive;
  color: #000;
  text-decoration: none;
  margin-left: 20px;
  padding-top: 0;

  cursor: default;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(57, 51, 51);
}
a img {
  max-width: 45px;
  position: relative;
  top: 10px;
  right: 5px;
  border-radius: 50%;
}

#hamburger-nav {
  display: none;
  /* justify-content: space-between;
  align-items: center; */
  background-color: #c7d4d4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0px 20px;
  padding-bottom: 5px;
  width: 100%;
  justify-content: space-between;
  border-bottom: solid 2px rgb(160, 155, 155);
}

.hamburger-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative;
  display: inline-block;
  padding-right: 50px; */
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;

  cursor: pointer;
  /* position: fixed; */
}
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* main section */
.anim {
  opacity: 0;
  transform: translatey(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  100% {
    opacity: 1;
    transform: translatey(0px);
  }
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: 620px;
  margin-top: 100px;
}
.video_back {
  position: absolute;
  /* margin-top: -100px; */
  right: 0;
  top: 70px;
  bottom: 0;
  z-index: -1;
}

.intro h1 {
  font-family: sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin: 20px 0;
  animation-delay: 0.5s;
  font-family: "Playwrite CL", cursive;

  /* text-shadow: #000; */
  font-size: 60px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.intro p {
  font-size: 25px;
  color: #e19898;
  text-transform: uppercase;
  margin: 20px 0;
  animation-delay: 0.8s;
  font-family: "Playwrite CL", cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(87, 2, 2, 0.718);
}

.achievements {
  display: inline;
  /* justify-content: space-around; */
  align-items: center;
  padding: 40px 20px;
}
.achievements .work1 {
  display: flex;
  flex-direction: row;

  background-color: #c4d6ee;
  justify-content: space-between;

  border: solid 20px;
}
.content {
  padding: 50px;
}
.work1 video {
  display: flex;
  justify-content: flex-end;
  /* height: 10%; */
  width: 50%;
  font-size: 20px;
  object-fit: cover;
  /* border-radius: 50%; */
}
.content {
  padding: 50px;
}

.achievements .work2 {
  display: flex;
  /* flex-direction: row; */

  /* align-items: self-end; */
  /* padding: 40px 200px; */
  background-color: #f3c2b0;
  border: solid 20px;
  justify-content: space-between;
}
.work2 video {
  display: flex;
  justify-content: flex-end;
  /* height: 10%; */
  width: 50%;
  font-size: 20px;
  object-fit: cover;
  /* border-radius: 50%; */
}

.work2 ul li {
  list-style: none;
}
.achievements .work3 {
  display: flex;
  /* flex-direction: row; */

  background-color: #c4eecc;
  border: solid 20px;
  justify-content: space-between;
}
.work3 video {
  display: flex;
  justify-content: flex-end;
  /* height: 10%; */
  width: 50%;
  font-size: 20px;
  object-fit: cover;
  /* border-radius: 50%; */
}
.achievements i {
  width: fit-content;
  font-size: 50px;
  color: #180871;
  border-radius: 50%;
  border: 2px solid #4f3333;
  padding: 12px;
}
.achievements .work-heading {
  font-size: 30px;
  color: #0d0d0d;
  text-transform: uppercase;
  margin: 10px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.achievements .work-text {
  font-size: 20px;
  color: #464646;
  margin: 10px 0;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
}
.about-me-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 20px;
}
.about-me-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 20px;
}
.about-me img {
  width: 300px;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 40px 80px;
}
.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}
.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}
.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}
